.list-group {
    list-style-type: none;
}

.list-group-item {
    border: none;
    border-bottom: solid 1px rgba(90, 89, 89, 0.247);
    cursor: pointer
}

.personMainContainer {
    border: solid 1px rgba(90, 89, 89, 0.247);
    border-top: none;
}

.card-footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}